html,
body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    background-color: cadetblue;
}

#top {
    text-align: center;
    margin: 0 auto;
}

#top h1 {
    font-size: 2em;
    display: block;
}

#top p {
    display: block;
}

#roomForm {
    display: block;
}

#game-grid {
    width: 240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    cursor: pointer;
}

.grid-item {
    width: 80px;
    height: 80px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size: 3em;
}

#game-text {
    text-align: center;
}

.vertical {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.horizontal {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}