html,
body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #085100, #19a500, #085100);
}

#top {
    text-align: center;
    margin: 0 auto;
}

#top h1 {
    font-size: 2em;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    display: block;
}

p {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
}

label,
input {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
}

#top p {
    display: block;
}

#roomForm {
    display: block;
}

#game-grid {
    width: 240px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    cursor: pointer;
    padding: 50px 0;
}

.grid-item {
    width: 80px;
    height: 80px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-size: 3em;
    font-family: 'Margarine', sans-serif;
}

#game-text {
    text-align: center;
}

.vertical {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.horizontal {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}