html,
body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    background-color: cadetblue;
}

#top {
    text-align: center;
    margin: 0 auto;
}

#top h1 {
    font-size: 2em;
}

#game-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 150px;
    margin: auto;
}

.grid-item {
    width: 50px;
    height: 50px;
}

.vertical {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.horizontal {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}